###############################################################
# DTLZ6_9D.config                                             #
#                                                             #
# Configuration file of the R2-MOACOR algorithm               #
###############################################################

[Parameters]
# Objective function.
Function = DTLZ6

# Number of decision variables.
n = 18

# Number of objective functions.
k = 9

# Range of decision variables.
Rmin = 0
Rmax = 1

# Maximum number of generations.
Gmax = 303

# Record size.
MAX_RECORD_SIZE = 5

# Variance threshold
varThreshold = 0.5

# Tolerance threshold
tolThreshold = 0.001

# Convergence rate
Xi = 0.5

# Diversification rate
q = 0.1

# H parameter for weight vectors  ( H + k - 1)Choose(k - 1)
H = 3